In [3]:
import pandas as pd

df3 = pd.read_csv('Churn_Modelling3.csv')
dense3 = pd.read_csv('C_dense_output2.csv')
print("Read {} rows.".format(len(df3)))
print("Read {} rows.".format(len(dense3)))

# df = df.sample(frac=0.1, replace=False) # Uncomment this line to sample only 10% of the dataset

df3.dropna(inplace=True,axis=1) # For now, just drop NA's (rows with missing values)
dense3.dropna(inplace=True,axis=1) # For now, just drop NA's (rows with missing values)


# display 5 rows
df3[0:5]

Read 10000 rows.
Read 10000 rows.

   NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0              1          1               1        101348.88       1
1              1          0               1        112542.58       0
2              3          1               0        113931.57       1
3              2          0               0         93826.63       0
4              1          1               1         79084.10       0

In [4]:
dense3[0:5]

,C_output_neuron_1,C_output_neuron_2,C_output_neuron_3,C_output_neuron_4,C_output_neuron_5,C_output_neuron_6,C_output_neuron_7,C_output_neuron_8,C_output_neuron_9,C_output_neuron_10
0,-0.783174,-0.326205,0.293503,-1.041708,-1.225786,1.0,0.0,0.0,1.0,0.0
1,-0.606504,-0.440014,0.198154,-1.387468,0.117344,0.0,0.0,1.0,1.0,0.0
2,-0.995835,-1.536717,0.293503,1.032856,1.332987,1.0,0.0,0.0,1.0,0.0
3,0.144759,0.501496,0.007456,-1.387468,-1.225786,1.0,0.0,0.0,1.0,0.0
4,0.652626,2.063781,0.388852,-1.041708,0.785689,0.0,0.0,1.0,1.0,0.0

In [5]:
# Encode a numeric column as zscores
def encode_numeric_zscore(df, name, mean=None, sd=None):
    if mean is None:
        mean = df[name].mean()

    if sd is None:
        sd = df[name].std()

    df[name] = (df[name] - mean) / sd

    
# Encode text values to dummy variables(i.e. [1,0,0],[0,1,0],[0,0,1] for red,green,blue)
def encode_text_dummy(df, name):
    dummies = pd.get_dummies(df[name])
    for x in dummies.columns:
        dummy_name = f"{name}-{x}"
        df[dummy_name] = dummies[x]
    df.drop(name, axis=1, inplace=True)

In [6]:
encode_numeric_zscore(df3, 'NumOfProducts')
encode_numeric_zscore(df3, 'HasCrCard')
encode_numeric_zscore(df3, 'IsActiveMember')
encode_numeric_zscore(df3, 'EstimatedSalary')

In [7]:
df3[0:5]

   NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0      -0.911538   0.646059        0.970194         0.021885       1
1      -0.911538  -1.547691        0.970194         0.216523       0
2       2.526930   0.646059       -1.030619         0.240675       1
3       0.807696  -1.547691       -1.030619        -0.108912       0
4      -0.911538   0.646059        0.970194        -0.365258       0

In [8]:
df3.dropna(inplace=True,axis=1) # For now, just drop NA's (rows with missing values)
df3[0:5]

   NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0      -0.911538   0.646059        0.970194         0.021885       1
1      -0.911538  -1.547691        0.970194         0.216523       0
2       2.526930   0.646059       -1.030619         0.240675       1
3       0.807696  -1.547691       -1.030619        -0.108912       0
4      -0.911538   0.646059        0.970194        -0.365258       0

In [9]:
merged_df3 = pd.concat([dense3, df3], axis=1)

In [10]:
merged_df3[0:5]

,C_output_neuron_1,C_output_neuron_2,C_output_neuron_3,C_output_neuron_4,C_output_neuron_5,C_output_neuron_6,C_output_neuron_7,C_output_neuron_8,C_output_neuron_9,C_output_neuron_10,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,-0.783174,-0.326205,0.293503,-1.041708,-1.225786,1.0,0.0,0.0,1.0,0.0,-0.911538,0.646059,0.970194,0.021885,1
1,-0.606504,-0.440014,0.198154,-1.387468,0.117344,0.0,0.0,1.0,1.0,0.0,-0.911538,-1.547691,0.970194,0.216523,0
2,-0.995835,-1.536717,0.293503,1.032856,1.332987,1.0,0.0,0.0,1.0,0.0,2.526930,0.646059,-1.030619,0.240675,1
3,0.144759,0.501496,0.007456,-1.387468,-1.225786,1.0,0.0,0.0,1.0,0.0,0.807696,-1.547691,-1.030619,-0.108912,0
4,0.652626,2.063781,0.388852,-1.041708,0.785689,0.0,0.0,1.0,1.0,0.0,-0.911538,0.646059,0.970194,-0.365258,0

In [11]:
merged_df3.dropna(inplace=True,axis=1) # For now, just drop NA's (rows with missing values)

In [12]:
merged_df3[0:5]

,C_output_neuron_1,C_output_neuron_2,C_output_neuron_3,C_output_neuron_4,C_output_neuron_5,C_output_neuron_6,C_output_neuron_7,C_output_neuron_8,C_output_neuron_9,C_output_neuron_10,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,-0.783174,-0.326205,0.293503,-1.041708,-1.225786,1.0,0.0,0.0,1.0,0.0,-0.911538,0.646059,0.970194,0.021885,1
1,-0.606504,-0.440014,0.198154,-1.387468,0.117344,0.0,0.0,1.0,1.0,0.0,-0.911538,-1.547691,0.970194,0.216523,0
2,-0.995835,-1.536717,0.293503,1.032856,1.332987,1.0,0.0,0.0,1.0,0.0,2.526930,0.646059,-1.030619,0.240675,1
3,0.144759,0.501496,0.007456,-1.387468,-1.225786,1.0,0.0,0.0,1.0,0.0,0.807696,-1.547691,-1.030619,-0.108912,0
4,0.652626,2.063781,0.388852,-1.041708,0.785689,0.0,0.0,1.0,1.0,0.0,-0.911538,0.646059,0.970194,-0.365258,0

In [13]:
# Convert to numpy - Classification
x_columns3 = merged_df3.columns.drop('Exited')
x3 = merged_df3[x_columns3].values
dummies3 = pd.get_dummies(merged_df3['Exited']) # Classification
outcomes3 = dummies3.columns
num_classes3 = len(outcomes3)
y3 = dummies3.values

In [14]:
merged_df3.groupby('Exited')['Exited'].count()

Exited
0    7963
1    2037
Name: Exited, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split

from sklearn import metrics
from IPython.display import display, HTML 
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation


x3_train, x3_test, y3_train, y3_test = train_test_split(
    x3, y3, test_size=0.25, random_state=42)

model = Sequential()
model.add(Dense(25, input_dim=x3.shape[1], activation='relu'))
model.add(Dense(3, activation='relu'))
model.add(Dense(25, activation='relu'))
model.add(Dense(x3.shape[1])) # Multiple output neurons
model.compile(loss='mean_squared_error', optimizer='adam')


# Convert the output into a Pandas dataframe
pd3 = pd.DataFrame(x3, columns=['C_output_neuron_{}'.format(i+1) for i in range(x3.shape[1])])

# Save the output to a CSV file
pd3.to_csv('C_dense_output3.csv', index=False)

2023-04-17 14:15:38.178151: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-04-17 14:15:40.301329: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [16]:
from tensorflow.keras.callbacks import EarlyStopping

model = Sequential()
model.add(Dense(10, input_dim=x3.shape[1], kernel_initializer='normal', activation='relu'))
model.add(Dense(50, input_dim=x3.shape[1], kernel_initializer='normal', activation='relu'))
model.add(Dense(10, input_dim=x3.shape[1], kernel_initializer='normal', activation='relu'))
model.add(Dense(1, kernel_initializer='normal'))
model.add(Dense(y3.shape[1],activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam')
monitor = EarlyStopping(monitor='val_loss', min_delta=1e-3, patience=5, verbose=1, mode='auto')
model.fit(x3_train,y3_train,validation_data=(x3_test,y3_test),callbacks=[monitor],verbose=2,epochs=1000)

Epoch 1/1000
235/235 - 1s - loss: 0.5304 - val_loss: 0.4155 - 516ms/epoch - 2ms/step
Epoch 2/1000
235/235 - 0s - loss: 0.4140 - val_loss: 0.3821 - 190ms/epoch - 809us/step
Epoch 3/1000
235/235 - 0s - loss: 0.3773 - val_loss: 0.3570 - 187ms/epoch - 795us/step
Epoch 4/1000
235/235 - 0s - loss: 0.3555 - val_loss: 0.3560 - 189ms/epoch - 803us/step
Epoch 5/1000
235/235 - 0s - loss: 0.3519 - val_loss: 0.3532 - 188ms/epoch - 798us/step
Epoch 6/1000
235/235 - 0s - loss: 0.3488 - val_loss: 0.3457 - 182ms/epoch - 777us/step
Epoch 7/1000
235/235 - 0s - loss: 0.3465 - val_loss: 0.3471 - 190ms/epoch - 807us/step
Epoch 8/1000
235/235 - 0s - loss: 0.3460 - val_loss: 0.3477 - 187ms/epoch - 795us/step
Epoch 9/1000
235/235 - 0s - loss: 0.3452 - val_loss: 0.3465 - 187ms/epoch - 794us/step
Epoch 10/1000
235/235 - 0s - loss: 0.3435 - val_loss: 0.3499 - 189ms/epoch - 804us/step
Epoch 11/1000
235/235 - 0s - loss: 0.3431 - val_loss: 0.3432 - 188ms/epoch - 799us/step
Epoch 12/1000
235/235 - 0s - loss: 0.3423 - val_loss: 0.3470 - 189ms/epoch - 804us/step
Epoch 13/1000
235/235 - 0s - loss: 0.3428 - val_loss: 0.3437 - 188ms/epoch - 799us/step
Epoch 14/1000
235/235 - 0s - loss: 0.3421 - val_loss: 0.3477 - 187ms/epoch - 794us/step
Epoch 15/1000
235/235 - 0s - loss: 0.3431 - val_loss: 0.3446 - 187ms/epoch - 797us/step
Epoch 16/1000
235/235 - 0s - loss: 0.3420 - val_loss: 0.3438 - 188ms/epoch - 798us/step
Epoch 16: early stopping

In [17]:
import numpy as np

# Measure accuracy
pred = model.predict(x3_test)
pred = np.argmax(pred,axis=1)
y_eval = np.argmax(y3_test,axis=1)
score = metrics.accuracy_score(y_eval, pred)
print("Validation score: {}".format(score))

79/79 [==============================] - 0s 486us/step
Validation score: 0.8588

In [29]:
import matplotlib.pyplot as plt

# train_losses and val_losses are lists of training and validation losses, respectively
# n_epochs is the total number of training epochs

def plot_validation_score(train_losses, val_losses, n_epochs):
    # Create a list of epoch numbers
    epochs = range(1, n_epochs+1)

    # Plot training and validation losses over epochs
    plt.plot(epochs, train_losses, label='Training loss')
    plt.plot(epochs, val_losses, label='Validation loss')

    # Set plot title and axis labels
    plt.title('Validation score')
    plt.xlabel('Epoch')
    plt.ylabel('Loss')

    # Show legend
    plt.legend()

    # Display the plot
    plt.show()

In [27]:
model3 = Sequential()
model3.add(Dense(25, input_dim=x3.shape[1], activation='relu'))
model3.add(Dense(3, activation='relu'))
model3.add(Dense(25, activation='relu'))
model3.add(Dense(1, kernel_initializer='normal'))
model3.add(Dense(y3.shape[1],activation='softmax'))
model3.compile(loss='mean_squared_error', optimizer='adam')
# model.fit(x,x,verbose=1,epochs=100)
# model.fit(y,y,verbose=1,epochs=1000)

monitor = EarlyStopping(monitor='val_loss', min_delta=1e-3, patience=5, verbose=1, mode='auto')
model3.fit(x3_train,y3_train,validation_data=(x3_test,y3_test),callbacks=[monitor],verbose=2,epochs=1000)

Epoch 1/1000
11579/11579 - 8s - loss: 0.0032 - val_loss: 0.0015 - 8s/epoch - 727us/step
Epoch 2/1000
11579/11579 - 8s - loss: 0.0015 - val_loss: 0.0014 - 8s/epoch - 711us/step
Epoch 3/1000
11579/11579 - 8s - loss: 0.0014 - val_loss: 0.0014 - 8s/epoch - 704us/step
Epoch 4/1000
11579/11579 - 8s - loss: 0.0014 - val_loss: 0.0014 - 8s/epoch - 706us/step
Epoch 5/1000
11579/11579 - 8s - loss: 0.0013 - val_loss: 0.0013 - 8s/epoch - 715us/step
Epoch 6/1000
11579/11579 - 8s - loss: 0.0013 - val_loss: 0.0013 - 8s/epoch - 705us/step
Epoch 6: early stopping